*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.root-wrapper {
  padding: 1em;
}

.md-textarea {
  width: 100%;
  min-height: 35vh;
  padding: 1em;
  border: 1px solid #3b3b3b;
}

.md-editor-label,
.md-preview-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.md-preview-title {
  margin-top: 1rem;
}

.md-preview {
  height: 35vh;
  padding: 0 1em;
  background-color: #eeeeee;
  border: 1px solid #3b3b3b;
  overflow-x: auto;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .md-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .md-editor-box {
    width: 45%;
  }

  .md-preview-box {
    width: 45%;
  }

  .md-preview-title {
    margin-top: 0;
  }
}
